<h1>Cohorts</h1>
<table>
  <thead>
    <tr>
    <form>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </form>
    </tr>
  </thead>

  <tbody id='my-cohorts'>
    <tr> 
      <form>
        <% @cohorts.each do |single_cohort| %>
            <td> <%= single_cohort.title %> </td>
            <td> <%= single_cohort.description %> </td>
        </tr>
        <% end %>
    </form>
    </tbody>
</table>

<br>

<td><%= link_to 'New Cohort', new_cohort_path, remote: true, id: 'ajaxcall'%></td>

<div id=></div>