<table class="table table-striped table-dark">
  <thead class="thead">
    <tr>
    <form>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
    </form>
    </tr>
  </thead>

  <tbody>
    <tr> 
      <form>
        <% @cohorts.each do |single_cohort| %>
            <td> <%= single_cohort.title %> </td>
            <td> <%= single_cohort.description %> </td>
            <td><%= link_to "Edit", edit_cohort_path(single_cohort)%></td>
        </tr>
        <% end %>
    </form>
    </tbody>
</table>