<h1>Cohorts</h1>

<%= link_to 'New Cohort', new_cohort_path, remote: true, id: 'ajaxcall' %>

<div id='cohort-form' style='display:none;'>
</div>

<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>

  <tbody id='my-cohorts'>
        <% @cohorts.each do |cohort| %>
          <%= render cohort %>
        <% end %>
  </tbody>
</table>


