<div>
    <strong>Title</strong>
    <%= @cohort.title%>
</div>

<div>
    <strong>Description</strong>
    <%= @cohort.description%>
</div>


<%= link_to 'Edit', edit_cohort_path(@cohort)%> |
<%= link_to 'Back', cohorts_path%>
