<div>
    <strong>Title</strong>
    <%= @cohort.title%>
</div>

<div>
    <strong>Start Date</strong>
    <%= @cohort.start_date%>
</div>


<%= link_to 'Edit', edit_cohort_path(@cohort)%> |
<%= link_to 'Back', cohorts_path%>
