<%= form_for @course, remote: true do |f| %>
      
    <div><%= f.label :title%></div>
    <div><%= f.text_field :title, id: :course_title, placeholder: 'Enter Title'%></div>

    <div><%= f.submit "Submit", :class => "btn" %></div>
 <% end %>